:root {
    --main-color-dark: #334048ff;
    --main-color-light: #757575ff;
    --main-color-orange: #ff9800ff;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--main-color-dark);
}

.main h2{
    color: var(--main-color-orange);
}

.description__text{
    color: var(--main-color-light);
    font-size: 1em;
}

/* .carousel-inner{
    height: 400px;
} */

@media only screen and (max-width: 741px) {

    /* .logo__text {
        display: none;
    } */

    /* .logo__img{
        width: 50px;
    } */
}